/* .forgot {
  background-color: #fff;
  padding: 12px;
  border: 1px solid #dfdfdf;
  border-radius: 10px;
}

.padding-bottom-3x {
  padding-bottom: 72px !important;
}

.btn {
  font-size: 13px;
  margin-right: 5px;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #76b7e9;
  outline: 0;
  box-shadow: 0 0 0 0px #28a745;
}
.bottom {
  border-radius: 10px;
  background-color: #fff;
} */
