/* .reset-password {
  width: 30%;
  margin: 0 auto;
  margin-top: 10%;
}
.reset-title h1 {
  font-size: 35px;
  text-align: center;
  color: rgb(171, 18, 18);
}
.form-inputs {
  margin-bottom: 3.5%;
  width: 100%;
} */
