.header {
  background-color: #262e42;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  padding: 5px;
  box-shadow: 0 2.3px 2.2px -11px rgba(0, 0, 0, 0.141),
    0 5.6px 5.3px -11px rgba(0, 0, 0, 0.202),
    0 10.5px 10px -11px rgba(0, 0, 0, 0.25),
    0 18.8px 17.9px -11px rgba(0, 0, 0, 0.298),
    0 35.1px 33.4px -11px rgba(0, 0, 0, 0.359),
    0 84px 80px -11px rgba(0, 0, 0, 0.5);
}
.header p {
  font-weight: 600;
}
