.header {
  background-color: #262e42;
  text-align: center;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  color: white;
  padding: 5px;
}
.header p {
  font-weight: 600;
}
