* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
}
.App {
  background-color: #57bb72;
  height: 100vh;
}
@media screen and (max-width: 1664px) {
  * {
    /* overflow: auto; */
  }
}
